$main: 				#f3f3f3;
$main--light: 		#ffffff;
$main--dark: 		#b7b7b7;
$main--text: 		#000000;

$link-color: #0b5394;
$footer-color: #d9d9d9;
$footer-text-color: #2f5597;

$aux: #f8991d;
$aux-darker:		darken($aux, 20%);
$aux-dark: 			darken($aux, 35%);
$aux-light: 		lighten($aux, 10%);

$accent: 			#49a4da;

$desktop-width: 400px;
$sm-width: 		250px;

@font-face {
	font-family: 'Mont';
	font-display: swap;
	src: url('./../fonts/Montserrat-Black.ttf') format('truetype');
}

@font-face {
	font-family: 'Mont-reg';
	font-display: swap;
	src: url('./../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Mont-bold';
	font-display: swap;
	src: url('./../fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Mont-extrabold';
	font-display: swap;
	src: url('./../fonts/Montserrat-Bold.ttf') format('truetype');
}

$font-main:		'Mont', Helvetica, Arial, sans-serif;
$font-main:		'Mont-reg', Helvetica, Arial, sans-serif;
$font-bold:		'Mont-bold', Helvetica, Arial, sans-serif;
$font-extrabold:'Mont-extrabold', Helvetica, Arial, sans-serif;


$baseSize: 			16;
$whitespace:		30px;

// Mixins
@mixin makeRem($fontInPx) {
	font-size: ($fontInPx / $baseSize)+rem;
}
@mixin animate{
	transition: .2s ease-in;
}

// Extends
%absCenter {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

