$main: 				#195C50;
$main--light: 		#F6F6F6;
$main--light-darker: darken($main--light, 20%);
$main--dark: 		#10352d;
$main-text: #000000;

$aux: rgba(212, 189, 78, 0.9);
$aux-darker:		darken($aux, 20%);
$aux-dark: 			darken($aux, 35%);
$aux-light: 		lighten($aux, 10%);

$accent: 			rgba(130, 180, 139, 0.8);
$accent-light: 		rgba(130, 180, 139, 0.4);
$accent-dark: 		rgb(130, 180, 139);
$accent-vivid: 		rgba(171, 233, 187, 0.8);

$desktop-width: 400px;
$sm-width: 		250px;

@font-face {
	font-family: 'GloberBook';
	font-display: swap;
	src: url('./../fonts/GloberBook.otf');
}

$font-main:		'Roboto', Helvetica, Arial, sans-serif;


$baseSize: 			16;
$whitespace:		30px;

// Mixins
@mixin makeRem($fontInPx) {
	font-size: ($fontInPx / $baseSize)+rem;
}
@mixin animate{
	transition: .2s ease-in;
}

// Extends
%absCenter {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

