.footer {
  background-color: $footer-color;
  color: $footer-text-color;
  padding: 25px 10px;

  .workspace__block {
    justify-content: flex-start;

    &--footer-left {
      width: 100%;
      @media (max-width: 420px) {
        text-align: center;
        margin-bottom: 35px;
      }
    }

    &--footer-right {
      margin-left: 20%;
      @media (max-width: 420px) {
        text-align: center;
        margin-left: 0;
      }
    }
  }

  h5 {
    font-family: $font-bold;
  }

  a {
    margin-bottom: 8px;
    font-size: .9rem;
  }

  span {
    font-size: .9rem;
    @media (max-width: 420px) {
      display: block;
      text-align: center;
    }
  }

  p {
    color: #706c69;
    margin: 3rem 0 2rem;
    text-align: center;
    font-size: .8rem;
  }
}
