.workspace {
  padding: 0;
  display: flex;
  width: 100%;
  @include media-breakpoint-down(sm) {
    flex-direction: column;
    height: auto;
  }

  &--white {
    background-color: white;
  }

  &--center {
    justify-content: center;
    align-items: center;
  }

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    flex: 1;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }

    &--big {
      min-width: 60%;
      margin-right: 15px;
      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }

    &--small {
      width: 40%;
      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }

    &--video {
      padding: 15px 0;
      background-color: white;
      align-items: center;
      justify-content: center;
    }

    .video {
      background-color: black;
      width: 95%;
      height: auto;
    }

    .media {
      margin-top: 10px;
      width: 95%;
      height: 25px;
      background-color: rgba(128, 157, 255, 0.43);
    }

    &--text {
      justify-content: space-between;
    }

    .text-div {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
      padding: 15px;
      background-color: white;
    }

    .text-div-wrapper {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
      display: flex;
    }

    .text-div-small {
      padding: 15px;
      background-color: white;
      width: 50%;

      &:first-of-type {
        margin-right: 10px;
      }
    }

    .search {
      background-color: white;
      width: 100%;
      padding: 8px;
      align-items: center;
      display: flex;
    }

    h4 {
      font-family: $font-bold;
      margin-bottom: 20px;
    }

    h5 {
      margin-bottom: 20px;
    }

    span {
      font-size: .9rem;
    }

    input {
      width: 100%;
    }

    &--blocks {
      padding: 20px 15px;
      background-color: white;
      display: flex;
      flex-direction: column;
    }

    .blocks-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      flex-grow: 1;
      align-content: space-between;
    }

    .block {
      width: 210px;
      height: 130px;
      margin: 5px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      color: white;
      font-weight: bold;
      padding: 10px;

      &-bg1 {
        background: url(../img/bg1.jpg) no-repeat center center;
        background-size: cover;
      }

      &-bg2 {
        background: url(../img/bg2.jpg) no-repeat center center;
        background-size: cover;
      }

      &__title {
        text-transform: uppercase;
        font-family: $font-bold;
      }
    }

    &--banner {
      padding: 20px 15px;
      background-color: white;

      .banner-div {
        background-color: #ff2f5d;
        min-height: 400px;
        height: 100%;
        width: 100%;
        text-align: center;
        padding-top: 45px;
        color: yellow;
      }
    }

    .title {
      font-family: $font-bold;
      margin: 25px 15px;
    }

    .numbers {
      width: 100%;
      height: 100%;
      background-color: white;
      padding: 15px;
      display: flex;
      flex-direction: column;

      span {
        margin-bottom: 5px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      a{
        color: black;
      }
    }

    strong {
      font-family: $font-extrabold;
      font-size: .9rem;
    }

    .sponsor {
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      a {
        max-width: 53%;
        margin: 0 auto;
      }
    }

    &--gif {
      background-color: white;
      padding: 20px 15px;
      align-items: center;
      justify-content: flex-start;
      @media (max-width: 1200px) {
        a {
          max-width: 250px;
        }
      }
      @media (max-width: 900px) {
        a {
          max-width: 200px;
        }
      }
      @include media-breakpoint-down(sm) {
        a {
          max-width: 100%;
        }
      }
    }

    .news {
      width: 300px;
      border: 1px solid black;
      margin-top: 5px;
      @media (max-width: 1200px) {
        max-width: 250px;
      }
      @media (max-width: 900px) {
        max-width: 200px;
      }
      @include media-breakpoint-down(sm) {
        max-width: 300px;
      }
      @media (max-width: 420px) {
        max-width: 100%;
      }

      ul {
        margin: 0;
        padding: 15px 5px 15px 25px;
        font-size: .9rem;
      }

      li {
        margin-bottom: 8px;

        a {
          color: black;
          @include animate;
          border-bottom: 1px solid rgba(0, 0, 0, 0);

          &:hover {
            border-bottom: 1px solid black;
            @include animate;
          }
        }
      }
    }

    .news-title {
      background-color: black;
      color: white;
      font-family: $font-bold;
      font-size: 1.2rem;
      display: block;
      width: 100%;
      text-align: center;
      padding: 7px;
    }

    &--radio {
      padding: 20px 0;
      align-items: center;
      justify-content: flex-start;
    }

    .radio {
      background-color: $radio-color;
      width: 95%;
      height: 60px;
      display: block;
    }
  }

  .map {
    width: 98%;
    height: 500px;
    background-color: $main--dark;
    margin: 10px;
    @include media-breakpoint-down(sm) {
      height: 300px;
    }
  }
}
