.workspace {
  padding: 0;
  display: flex;
  width: 100%;
  @include media-breakpoint-down(sm) {
    flex-direction: column;
    height: auto;
  }

  &--white {
    background-color: white;
  }

  &--center {
    justify-content: center;
    align-items: center;
  }

  &--bigger {
    @media (max-width: 1024px) {
      flex-direction: column;
      height: auto;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    flex: 1;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }

    &--big {
      min-width: 60%;
      margin-right: 15px;
      @include media-breakpoint-down(sm) {
        width: 100%;
        margin-right: 0;
      }
    }

    &--small {
      width: 40%;
      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }

    &--half {
      min-width: 49%;

      @include media-breakpoint-down(sm) {
        width: 100%;
        margin-right: 0;
      }

      &:first-of-type {
        margin-right: 10px;
        @include media-breakpoint-down(sm) {
          margin: 0 0 15px 0;
        }
      }

      &.workspace__block--banner {
        margin: 0;
      }
    }

    &--video {
      padding: 15px 0;
      background-color: white;
      align-items: center;
      justify-content: center;
      @media (max-width: 1024px) {
        width: 100%;
      }
    }

    .static-page {
      padding: 20px;
    }

    .video {
      width: 95%;
      height: auto;
    }

    .media {
      margin-top: 10px;
      width: 95%;
      height: 25px;
    }

    &--text {
      justify-content: space-between;
      @media (max-width: 1024px) {
        width: 100%;
        margin-top: 10px
      }
    }

    .text-div {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
      padding: 15px;
      background-color: white;
    }

    .text-div-wrapper {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
      display: flex;
      @media (max-width: 650px) {
        flex-direction: column;
      }
    }

    .text-div-small {
      padding: 15px;
      background-color: white;
      width: 50%;

      @media (max-width: 650px) {
        width: 100%;
        &:first-of-type {
          margin: 0 0 10px 0;
        }
      }

      &:first-of-type {
        margin-right: 10px;
      }
    }

    .search {
      form {
        background-color: white;
        width: 100%;
        padding: 8px;
        align-items: center;
        display: flex;
      }
    }

    h4 {
      font-family: $font-bold;
      margin-bottom: 20px;
    }

    h5 {
      margin-bottom: 20px;
    }

    .block-span {
      font-size: .9rem;
    }

    input {
      width: 100%;
    }

    &--blocks {
      padding: 20px 15px;
      background-color: white;
      display: flex;
      flex-direction: column;
      @media(max-width: 1024px) {
        margin-right: 0;
      }
    }

    .blocks-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      flex-grow: 1;
      align-content: flex-start;
      @media (max-width: 850px) {
        justify-content: center;
      }
    }

    .block {
      max-width: 31.5%;
      width: 256px;
      height: 144px;
      margin: 5px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      color: white;
      font-weight: bold;
      padding: 10px;
      overflow: hidden;
      cursor: pointer;

      @media (max-width: 1200px) {
        max-width: 45%;
      }
      @media (max-width: 1000px) {
        max-width: 31.5%;
      }
      @media (max-width: 850px) {
        max-width: 45%;
      }
      @media (max-width: 600px) {
        max-width: 98%;
      }

      &-bg1 {
        background: url(../img/bg1.jpg) no-repeat center center;
        background-size: cover;
      }

      &-bg2 {
        background: url(../img/bg2.jpg) no-repeat center center;
        background-size: cover;
      }

      &__title {
        text-transform: uppercase;
        position: relative;
        font-family: $font-bold;
        font-size: .9rem;
        z-index: 1;

        a {
          color: #FFF;
        }

        &::before {
          background-color: rgba(0, 0, 0, .5);
          content: '';
          display: block;
          height: 140px;
          position: absolute;
          width: 120%;
          top: -10px;
          z-index: -1;
          bottom: auto;
          left: -10%;
        }
      }

      &__desc {
        font-size: .9rem;
        z-index: 1;


        a {
          color: #FFF;
        }
      }
    }

    &--banner {
      padding: 20px 15px;
      background-color: white;
      align-items: center;

      @media(max-width: 1024px) {
        width: 100%;
        margin-top: 10px;
      }

      .banner-div {
        min-height: 400px;
        height: 100%;
        width: 300px;
        text-align: center;
        padding-top: 45px;
        color: yellow;
        @media(max-width: 420px) {
          width: 250px;
          max-width: 100%;
        }
      }
    }

    .title {
      font-family: $font-bold;
      margin: 25px 15px;
    }

    .numbers {
      width: 100%;
      height: 100%;
      background-color: white;
      padding: 15px;
      display: flex;
      flex-direction: column;

      span {
        margin-bottom: 5px;
        font-size: .9rem;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      a {
        color: black;
      }
    }

    strong {
      font-family: $font-bold;
      font-size: .9rem;
    }

    .sponsor {
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      a {
        max-width: 100%;
        margin: 0 auto;
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    &--gif {
      background-color: white;
      padding: 20px 15px;
      align-items: center;
      justify-content: flex-start;
      @media (max-width: 1200px) {
        a {
          max-width: 250px;
        }
      }
      @media (max-width: 1024px) {
        width: 100%;
        a {
          max-width: 300px;
        }
      }
      @include media-breakpoint-down(sm) {
        a {
          max-width: 100%;
        }
      }
    }

    .gif {
      width: 430px;
    }

    .news {
      width: 430px;
      border: 1px solid black;
      margin-top: 5px;
      @media (max-width: 1200px) {
        max-width: 250px;
      }
      @media (max-width: 1024px) {
        max-width: 600px;
        width: 80%;
      }
      @media (max-width: 495px) {
        max-width: 300px;
        width: 100%;
      }

      ul {
        margin: 0;
        padding: 15px 5px 15px 25px;
        font-size: .9rem;
      }

      li {
        margin-bottom: 8px;

        a {
          color: black;
          @include animate;
          border-bottom: 1px solid rgba(0, 0, 0, 0);

          &:hover {
            border-bottom: 1px solid black;
            @include animate;
          }
        }
      }
    }

    .news-title {
      background-color: black;
      color: white;
      font-family: $font-bold;
      font-size: 1.2rem;
      display: block;
      width: 100%;
      text-align: center;
      padding: 7px;
    }

    &--radio {
      padding: 20px 0;
      align-items: center;
      justify-content: flex-start;
      @media (max-width: 1024px) {
        margin-right: 0;
      }
    }

    .radio {
      width: 95%;
      height: 60px;
      display: block;


      audio {
        width: 100%;
      }
    }
  }

  .map {
    width: 98%;
    height: 500px;
    background-color: $main--dark;
    margin: 10px;
    @include media-breakpoint-down(sm) {
      height: 300px;
    }
  }
}
