<div class="footer">
    <div class="workspace">
        <div class="workspace__block workspace__block--big workspace__block--footer-left">
            <h5>Gruppo Agostino Rabizzi</h5>
            <span>Via Dante Alighieri, 6 - 25030 - Bargnano di Corzano (Brescia) Italy</span>
            <span>Tel. +39 030 97 19 725 - Tel. +39 030 97 18 810</span>
            <br>
            <span>Reg. Imp. di BS (<strong>BS-1999-61-858</strong>) R.E.A. 412562</span>
            <span>Test. Giornalistica Tribunale di BS <strong>31/1999 - 28/10/99</strong></span>
            <span>Prot. Conc.: <strong>906509</strong> Isc. ROC n <strong>19484</strong> del <strong>27/04/2010</strong></span>
        </div>
        <div class="workspace__block workspace__block--small workspace__block--footer-right">
            <h5>Note Legali</h5>
            <a href="">Note Legali</a>
            <a href="">Privacy</a>
            <a href="">Cookie Policy</a>
            <a href="">Codice Media e Minori</a>
            <a href="">Product Placement</a>
            <a href="">Produttori Indipendent</a>
        </div>
    </div>
    <p>Chiunque si ritenga leso nei suoi interessi metariali o morali da trasmissioni contrarie a verità ha il
        diritto di chiedere che sia trasmessa apposita rettifica
        come già previsto della Legge del 14 aprile 1975 n.103Art. 7 e secondo le disposizioni del Dlgs. 177/2005
        Art. 32 del T.U. della Radiotelevisione. La richiesta deve essere presentata al dirretore della rete
        televisiva o al dirretore del telegiornale, nei cui programmi la trasmissione da rettificare si è
        verificata.</p>
    <span>2012-2020 Copyright SuperTv s.r.l. - Powered by StreamShow</span>
</div>

<script src="./dist/assets/js/libs/jquery.js"></script>
<script src="./dist/assets/js/common.js"></script>
