<div class="header">
    <a href="./index.html" class="logo"><img class="logo-main" src="./dist/assets/img/logo3.png"
                                             alt="SuperTV"></a>
    <div class="headerMenu">
        <a href="./index.html" class="nav-el">SuperTV</a>
        <a href="./videobrescia.html" class="nav-el">Videobrescia</a>
        <a href="./rivedi.html" class="nav-el">Rivedi</a>
        <a href="./contact.html" class="nav-el">Contatti</a>
    </div>

    <a href="./radio.html" class="logo-other"><img class="logo-image margin" src="./dist/assets/img/logo2.png"
                                                   alt="Radio Super"></a>
    <a href="./mixer.html" class="logo-other"><img class="logo-image" src="./dist/assets/img/logo1.png"
                                                   alt="Mixer Italia Commerciale"></a>
    <div class="menuBtnContainer">
        <button class="menuToggle nav-icon1">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
    <div class="topMenu">
        <ul>
            <li><a href="./index.html" class="nav-el">SuperTV</a></li>
            <li><a href="./videobrescia.html" class="nav-el">Videobrescia</a></li>
            <li><a href="./rivedi.html" class="nav-el">Rivedi</a></li>
            <li><a href="./contact.html" class="nav-el">Contatti</a></li>
        </ul>
    </div>
</div>
